@import "../../responsive.scss";

.pp-body {
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  .pp-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;


    .pp-mains{
      height:100%;
      display:flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: max-content;

      .pp-mains-head{
        height:100%;
        padding-bottom: 20px;
        display:flex;
        flex-direction: column;
        align-items:center;
        color: white;
      h2 {
        font-family: monospace;
        font-weight: 600;
        margin-bottom: 20px; // Margin to space the heading from the cards
      }
      @include sm{
        span{
          width: 100vw;
          padding:20px;
        }
      }
      

      .pp-email{
        cursor:pointer;
        color:aquamarine;
        text-decoration: underline 0.1px white;
        transition: transform 0.5s ease-in;
        &:hover{
          
            transform: scale(1.05)
          
        }
      }
      }


      .pp-card{

        position: relative;
        width: 600px;
        height: 300px;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(107, 105, 105, 0.2);
        transition: transform 0.2s;
                margin-bottom: 40px;  // Added margin to space out the cards


        @include sm{
          width: 370px;
          height: 200px;
        }

        &:hover{
          transform: scale(1.05);
        }
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .pp-video{
          width: 100%;
          height: 100%;
          object-fit: cover;

                  }
        .pp-overlay{
          padding-bottom: 20px;
          position: absolute;
          top:0;
          left:0;
          width: 100%;
          height: 100%;
          color: #fff;
          display: flex;
          background: rgba(0, 0, 0, 0.7); // Ensure the overlay is dark and visible

          justify-content: center;
          align-items: end;
          opacity: 0;
          transition: opacity 0.3s;

          &:hover{
            opacity:1;
          }

          .pp-details{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .pp-captions{
              margin-left:10px;
              margin-right:10px
            }

            .pp-head{
              display:flex;
              gap: 20px;

              h2{
                font-family: monospace;
                transition: transform 0.5s ease-in-out;
                &:hover{
                  transform: scale(1.1);
                }
              }
              .pp-social-icon{
                font-family: monospace;
                transition: transform 0.5s ease-in-out;
                &:hover{
                  transform: scale(1.12);
                }
              }

            }
           .pp-tech-used{
            display:flex;
            gap: 10px;

            .pp-tech{
              background-color: grey;
              padding: 5px;
              border-radius: 5px;
              font-size: 1rem;
              font-family: monospace;
            }
           }
          }

        }
      }
    } 
    
    .pp-others{
      display:flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      gap: 40px;
      
      .pp-others-head{
      color:white;
        h2{
          font-family: monospace;
          font-weight: 1000;
          
        }
        
      }

      .pp-card-row{
        display:flex;
        justify-content: space-around;
        align-items:center;
        gap: 40px;
        padding-bottom: 20px;

        @include sm{
          flex-direction: column;
        }

        

        .pp-other-card{
          border-radius: 5px;
          position: relative;
          width: 450px;
          height: 300px;
          border-radius: 8px;
          box-shadow: 0 4px 8px rgba(107, 105, 105, 0.2);
          transition: transform 0.2s;
                  margin-bottom: 40px;  // Added margin to space out the cards
  
          @include sm{
            width:370px;
            height: 200px;
          }
          &:hover{
            transform: scale(1.05);
          }

          .pp-img{
          border-radius: 5px;
           width: 100%;
          height: 100%;
  
          }
          .pp-other-video{
            width: 100%;
            height: 100%;
            object-fit: cover;
  
          }
          .pp-other-overlay{
            padding: 20px;
            padding-bottom: 20px;
            position: absolute;
            top:0;
            left:0;
            width: 100%;
            height: 100%;
            color: #fff;
            display: flex;
            background: rgba(0, 0, 0, 0.725); // Ensure the overlay is dark and visible
  
            justify-content: center;
            align-items: end;
            opacity: 1;
            transition: opacity 0.3s;
  
            &:hover{
              opacity:0;
            }
  
            .pp-other-details{
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
  
              
             .pp-other-tech-used{
              display:flex;
              gap: 10px;
  
              .pp-other-tech{
                background-color: rgb(151, 150, 150);
                padding: 5px;
                border-radius: 5px;
                font-size: 1rem;
                font-family: monospace;
              }
             }
            }
  
          }
          .pp-other-head{
            padding-top: 10px;
            display:flex;
            align-items: center;
            justify-content: center;
            gap: 20px;

            h2{
              color:white;
              font-family: monospace;
              font-size: 1.8rem;
              font-weight: 700;
              transition: transform 0.5s ease-in-out;
              &:hover{
                transform: scale(1.1);
              }

              @include sm{
                font-size: 1.5rem;

              }
            }
            .pp-other-social-icon{
              font-family: monospace;
              transition: transform 0.5s ease-in-out;
              &:hover{
                transform: scale(1.12);
              }
            }

          }
        }
      }
    }
    .pp-end{
      padding-top: 40px;
      padding-bottom: 100px;
      .pp-see-more{
        display:flex;
        align-items: center;
        gap: 20px;
        padding-bottom: 10px;
  
        .pp-see-more-text{
          font-size: large;
          color: white;
          transition: transform 0.5s ease-out;
  
          &:hover{
            transform: scale(1.1);
          }
        }
        .pp-arrow{
          width: 30px;
          height: 30px;
          position: relative;
          animation: move 0.5s infinite;
  
        }
        @keyframes move{
          0%{
            left: 0;
          }
          100%{
            left: 20px;
            animation-play-state: paused;
          }
        }
  
        @keyframes reverse{
          0%{
            left: 20px;
          }
          100%{
            left: 0px;
          }
        }
        .pp-arrow{
          animation-fill-mode: forwards;
          animation-direction: alternate;
        }
      }
  
      .pp-social{
        display:flex;
        align-items: center;
        gap:10px;
  
        .pp-social-icon{
          cursor:pointer;
          transition: transform 0.5s ease-out;
  
          &:hover{
            transform: scale(1.2)
          }
        }
      }
    }
  }
}