*{
  padding: 0;
  margin: 0;
  box-sizing: border-bx;
}
a{
  text-decoration: none;
  color: inherit;
}
body{
  background-color: #06182b;
background-image: linear-gradient(121deg, #06182b 7%, #020a13 63%, #223140 100%);



  font-family: Blorado, sans-serif;

}